html {
    font-family: Verdana, sans-serif;
    height: 100%;
}


* {
    box-sizing: border-box;
}


@keyframes fadein {
    from { opacity: 0; }
    to { opacity: 1; }
}


@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}


body {
    -webkit-animation: fadein 1s;
    animation: fadein 1s;
}


#cabecera {
    width: 100%;
    height: 50px;
    font-size: xx-large;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.fila {
    display: flex;
}

#panel_lateral_izquierdo {
    color: white;
    flex-direction: column;
    background-color: white;
    display: flex;
    flex-basis: 3.5%;
    min-width: 30px;
    max-width: 75px;
    align-items: center;
    justify-content: center;
    min-height: 800px;
}


#panel_principal {
    flex-basis: 94%;
    min-width: 0;
    min-height: 0;
    background: linear-gradient(-45deg, #332f2e, #943f60, #064f94, #008afc);
    background-size: 400% 400%;
    animation: gradient 8s ease infinite;
    overflow: hidden;
    min-height: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


#panel_lateral_derecho{
    background-color: white;
    min-width: 30px;
    max-width: 75px;
    display: flex;
}

.columna {
    padding: 10px;
}

#enlace_logo{
    z-index: 1;
}

#logo {
    width: 100px;
    margin: 0;
    padding: 0;
    background-color: #adadad5d;
}


#botones {
    margin-left: auto;
    display: flex;
}


.btn {
    overflow-wrap: break-word;
    padding-top: 20px;
    text-align: center;
    margin-right: 4px;
    margin-bottom: 4px;
    font-size: min(2vw, 20px);
    background-color: #000000;
    color: white;
    border: none;
    text-decoration: none;
    cursor: pointer;
    padding-bottom: 0px;
    position: relative;
    display: inline-block;
    width: min(13vw, 150px);
}


.btn:hover {
    background: linear-gradient(-45deg, #332f2e, #943f60, #064f94, #008afc);
    background-size: 400% 400%;
    animation: gradient 8s ease infinite;
}


.fila_options {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    height: 100%;
}


.option {
    border-radius: 10px;
    font-size: min(3vw, 1.4em);
    width: 40vw;
    max-width: 500px;
    min-width: 300px;
    height: 41vw;
    max-height: 510px;
    margin: 20px;
    box-shadow: 0 2px 1px rgba(0,0,0,0.09),
    0 4px 2px rgba(0,0,0,0.09), 
    0 8px 4px rgba(0,0,0,0.09), 
    0 16px 8px rgba(0,0,0,0.09),
    0 32px 16px rgba(0,0,0,0.09);
    text-align: center;
    display:flex;
    flex-direction: column;
    justify-content: flex-end;
    background-color: white;
    align-content: center;
}


.option_img{
    margin-bottom: auto;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: min(200px, 20vw);
}


#light-info{
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: auto;
    margin-top: auto;
}


#tmp-info{
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: auto;
    margin-top: auto;
}


.option_btn{
    font-size: 1em;
}


#registro-option{
    display: flex;
    overflow: auto;
    flex: 1;
}


#box{
    margin-left: 20px;
    margin-right: 20px;
    flex: 1 1 auto;
    overflow-y: auto;
    min-height: 0px;
}


.registro{
    font-size: 15px;
    margin-bottom: 20px;
}


#sensores{
    font-size: min(1.2em, 10vw);
    height: 80vh;
    max-height: none;
}


#sensores_btn{
    margin-top: 10px;
    font-size: medium;
}


#formulario{
    margin-bottom: auto;
}


#toggle_owm{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
}


#agent_warning{
    color: rgb(0, 0, 0);
    width: 100%;
    margin-top: 50px;
    background-color: #ffffff;
    text-align: center;
    box-shadow: 0 2px 1px rgba(0,0,0,0.09),
    0 4px 2px rgba(0,0,0,0.09), 
    0 8px 4px rgba(0,0,0,0.09), 
    0 16px 8px rgba(0,0,0,0.09),
    0 32px 16px rgba(0,0,0,0.09);
}


#humedad-info{
    margin-left: 20px;
    margin-right: 20px;
    margin-top: auto;
    margin-bottom: auto;
}


#github{
    color: black;
    text-decoration: none;
}


#coordenadas{
    display: none;
}


/******  Estilo slider *****/
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
/************************/


@media (max-width: 600px) {                  
    .option_img {
       width: 10em;
    }
 }
